.feed-icons, form.uk-search .form-actions {
	display: none;
}

.image-dekor::before {
	border-top:1px solid #fff;
	content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1;
    pointer-events: none;
}

#search-block-form .form-wrapper {
	display: none;
}

body {
	background-image: url(../images/bg7.jpg);
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
}

.seffaf-beyaz {
	background-color: #ffffff80
}
.seffaf-siyah {
	background-color: #00000080
}

#site-slogan {
    font-family: 'Meddon', cursive;
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px white);
}

.uk-logo img {
	filter: drop-shadow(0px 0px 10px white);
}

.region-sidebar-right .uk-list a {
	color: #00000080;
}

.uk-nav li.uk-nav-divider:first-child {
	border: none;
}

.uk-nav li a {
	color: #00000080;
}
.uk-navbar-nav li a {
	font-size: 22px;
	font-weight: 400;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.uk-nav li:hover {
	background-color: #2185d010
}
.region-sidebar-right .uk-card-default {
	border-radius: 0;
} 
/*
#navbar {
	background-color: #ffffff80; 
}
*/
/*
#navbar::before {
	border-top: 2px groove #fff;
	border-bottom: 2px groove #fff;
	content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    z-index: 1;
    pointer-events: none;
}
*/
.uk-search-navbar .uk-search-input {
    background: #ffffff40;
    font-size: 1.5rem;
    padding: 5px;
}

.uk-search .uk-search-icon {
color: #fff;
    background-color: #ffffff80;
    padding: 25px 10px;
    margin: 0;
}

.uk-slideshow-items li {
	border: 5px solid #ffffff80;
}

.uk-navbar li:not(:last-child) {
	border-right: 2px groove #ffffff80;
}

.uk-slidenav {
    color: #2185d0;
}

.vocabulary-urunler .uk-card-footer {
	background-color: #4183c4;
}

.vocabulary-urunler .uk-card-footer a {
	color: #fff;
}

.border-yok {
	border: none;
}

.view-display-id-block_2 .uk-card-body {
	padding: 3px
}

.uk-search-navbar .uk-search-icon-flip ~ .uk-search-input {
    padding-right: 10px;
}

.uk-card-small .uk-nav-default > li > a {
	padding: 0px;
}