{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * @ingroup themeable
 */
#}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{# {{ book_tree.book_links(items, attributes, 0, ['menu', 'nav', 'osc-sidebar-menu']) }} #}

{% macro book_links(items, attributes, menu_level, classes) %}
  {% import _self as book_tree %}
  {% if items %}
    <ul{{ attributes.addClass(menu_level == 0 ? classes : 'uk-nav-default', 'uk-nav-parent-icon') }} uk-nav>
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded and item.below ? 'uk-parent',
          menu_level == 0 and item.below ? 'uk-parent',
          menu_level == 0 and item.is_collapsed ? '',
          item.in_active_trail ? 'uk-active',
        ]
      %}	
      {% if menu_level == 0 and item.below %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">{{ item.title }}</a>
      {% else %}
        <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ book_tree.book_links(item.below, attributes.removeClass(classes), menu_level + 1, classes) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ _self.book_links(items, attributes, 0, classes) }}
