{#
/**
 * @file
 * Theme override for rendering book outlines within a block.
 *
 * This template is used only when the block is configured to "show block on all
 * pages", which presents multiple independent books on all pages.
 *
 * Available variables:
 * - book_menus: Book outlines.
 *   - id: The parent book ID.
 *   - title: The parent book title.
 *   - menu: The top-level book links.
 *
 * @see template_preprocess_book_all_books_block()
 */
#}

<ul class="uk-list uk-list-divider">
{% for book in book_menus %}
  <li id="book-block-menu-{{ book.id }}" class="" role="navigation" aria-label="{% trans %}Book outline for {{ book.title }}{% endtrans %}">
    {{ book.menu }}
  </li>
{% endfor %}
</ul>