{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
 #}
 {% if breadcrumb %}
 <ul class="uk-breadcrumb">
  {% for key, item in breadcrumb %}
  <li>
    {% if item.url %}
    <a href="{{ item.url }}">
  {% endif %}
      {{ item.text }}
    {% if item.url %}
    </a>
   {% endif %}
 </li>
  {% endfor %}
</ul> 
{% endif %}
