{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
 #}
 <div class="uk-grid-small uk-flex-middle" uk-grid>
 	<div class="uk-width-expand">
 		<form {{ attributes.addClass('uk-search uk-search-navbar uk-width-1-1') }}>
 			{{ children }}
 		</form>
 	</div>
 	<div class="uk-width-auto">
 		<a class="uk-navbar-dropdown-close" href="#" uk-close></a>
 	</div>
 </div>
