<div id="navbar" class="{% if is_front %}uk-margin-large-bottom{% endif %} uk-padding-small uk-padding-remove-vertical uk-margin-top" style="z-index: 980" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; cls-active: uk-background-default">
	<div class="uk-container">
		<nav class="uk-text-uppercase border-bg" uk-navbar>
			<div class="uk-navbar-left">
				{{ page.navbar_left }}
			</div>
			<div class="uk-navbar-center uk-visible@m">
				{{ page.navbar_center }}
			</div>
			<div class="uk-navbar-right">
				<a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle href="#offcanvas"></a>
				<div class="uk-visible@m">
					<a class="uk-navbar-toggle" uk-search-icon href="#"></a>
		            <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
						{{ page.navbar_right }}
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>

{% if page.title or page.bc and not is_front %}
<div id="title" class="uk-background-muted uk-margin-large-bottom">
	<div class="uk-container">
		<div class="uk-flex uk-flex-between uk-flex-middle uk-padding">
			{{ page.title }}
			{{ page.bc }}
		</div>
	</div>
</div>
{% endif %}


{% if page.slideshow %}
<div class="uk-container uk-margin">
	{{ page.slideshow }}
</div>
{% endif %}

<div class="uk-container">
	<div class="uk-grid-small uk-grid-divider" uk-grid>

		{% if page.sidebar_left %}
		<aside class="uk-width-1-4" role="complementary">
			{{ page.sidebar_left }}
		</aside>
		{% endif %}

		<div class="uk-width-expand">
			{% if page.content_top %}
			{{ page.content_top }}
			{% endif %}
			<main role="main" class="uk-background-default uk-padding-small">
				<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
				{{ page.content }}
			</main>
		</div>{# /.layout-content #}

		{% if page.sidebar_right %}
		<aside class="uk-width-1-4 uk-visible@m" role="complementary">
			{{ page.sidebar_right }}
		</aside>
		{% endif %}
	</div>
	{% if page.content_bottom %}
		{{ page.content_bottom }}
	{% endif %}
</div>

<footer class="uk-section uk-section-secondary uk-margin-large-top uk-section-small">
	<div class="uk-container">
		{{ page.footer }}
	</div>
	<hr>
	<div class="uk-flex-center uk-flex">drupal | uikit | <a href="mailto:info@seasernet.com" target="_top"> seasernet</a></div>
</footer>

<div id="offcanvas" uk-offcanvas="overlay: true">
	<div class="uk-offcanvas-bar uk-flex uk-flex-column">
		<button class="uk-offcanvas-close" type="button" uk-close></button>
		{{ page.off_canvas }}
	</div>
</div>
