{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
 #}
 {%
  set classes = [
  'region',
  'region-' ~ region|clean_class,
  ]
  %}
  {% if content %}
    {% if attributes.addClass(classes).hasClass('region-content-top') %}
      <div {{ attributes.addClass(classes, 'uk-margin') }} tabindex="-1" uk-slider="autoplay: true">
        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-4@m uk-grid uk-grid-small" uk-height-match=".uk-card">
    {% elseif attributes.addClass(classes).hasClass('region-footer') %}
        <div {{ attributes.addClass(classes, 'uk-child-width-expand') }} uk-grid>
    {% else %}
      <div {{ attributes.addClass(classes) }}>
    {% endif %}
      {{ content }}
    {% if attributes.addClass(classes).hasClass('region-content-top') %}
        </ul>
    {% endif %}
      </div>
{% endif %}